.gridContainer {
  display: grid;
  grid-template-columns: auto auto;
  align-content: center;
  justify-content: center;
}
.card {
  opacity: 0.95;
  /* background: rgb(207, 244, 210);
  background: linear-gradient(
    321deg,
    rgba(207, 244, 210, 1) 0%,
    rgba(207, 244, 210, 1) 26%,
    rgba(123, 228, 149, 1) 85%
  ); */
  background: rgb(204, 173, 189);
  background: linear-gradient(
    76deg,
    rgba(204, 173, 189, 1) 31%,
    rgba(134, 227, 206, 0.9528186274509804) 100%
  );
  width: 500px;
  height: 180px;
  border-radius: 15px;
  margin: 15px;
  padding-left: 30px;
  padding-top: 45px;
  color: #f5fcff;
}

.align-text {
  display: flex;
  align-items: center;
  font-size: 1.2rem;
}
.align-text h2 {
  font-size: 2rem;
  margin-right: 10px;
}
.ml {
  font-size: 2rem;
}

@media (max-width: 1040px) and (min-width: 601px) {
  .card {
    width: 380px;
    height: 150px;
    padding-top: 30px;
    padding-left: 22px;
    margin: 10px;
  }
  .align-text {
    font-size: 1.14rem;
  }
  .align-text h2 {
    font-size: 1.8rem;
    margin-right: 8px;
  }
  .ml {
    font-size: 1.8rem;
  }
}

@media (max-width: 600px) /*and (min-width: 480px) */ {
  .gridContainer {
    grid-template-columns: auto;
    padding: 0;
    margin: 0;
  }
  .card {
    width: 330px;
    height: 120px;
    border-radius: 10px;
    padding-top: 25px;
    padding-left: 18px;
    margin: 5px;
  }
  .align-text {
    font-size: 0.7rem;
  }
  .align-text h2 {
    font-size: 1.2rem;
    margin-right: 5px;
  }
  .ml {
    font-size: 1.5rem;
  }
}
